.Aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  background: white;
  margin: 10px;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 100%;
}

.Aligner-item--fixed2 {
  flex: none;
  max-width: 50%;
}

.LogoCenter {
  margin: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.GetMiner {
  text-align: left;
  margin-top: 10px;
}

.PowLink {
  text-align: left;
  margin: 10px;
}

.Sharable {
  border: dotted 1px black;
  padding: 5px;
}

.BigText {
    font-size: 24px;
}

.Iqon {
  width: 30%;
}

.PowMine {
  text-align: left;
  margin: 10px;
}

.CardGroup {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header img {
  float: left;
  width: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #fff;
  color: white;
  height: 100px;
}

.App-intro {
  font-size: medium;
  padding: 1cm 1cm 1cm 1cm;
}

.App-form {
  font-size: medium;
  padding: 0cm 0cm 1cm 1cm;
}

body {
  padding: 0;
  font-size: 100%;
  background: white;
  margin: 10px;
}

.navbar a,
.navbar a:hover,
.navbar a:active,
.navbar a:visited {
  color: black;
}

.navbar a.dropdown,
.navbar a.dropdown:hover,
.navbar a.dropdown:active,
.navbar a.dropdown:visited {
  color: black;
  margin: 10px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.jumbotron {
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#536dfe+0,a553fe+100 */
  background: #536dfe; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #536dfe 0%,
    #a553fe 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #536dfe 0%,
    #a553fe 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #536dfe 0%,
    #a553fe 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#536dfe',
      endColorstr='#a553fe',
      GradientType=1
    );
}
